@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    background: #222;
    background-image: url('weather\ main.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
  }
  nav{
     display: flex;
     justify-content: center;
     height: auto;
     background-color: #000000d0;
     width: 100vw ;
     opacity: 0.9;
     padding: 10px;
  }

  nav h1{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 50px;
    text-shadow: 0px 0px 8px white, 0px 0px 10px white;
    animation: glow 6s infinite ease-in-out;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  nav img{
      height: 50px;
      width: 50px;
      animation: glowLogo 6s infinite ease-in-out;
  }
  @keyframes glowLogo {
    20% {
        box-shadow: 0px 0px 6px #27235E, 0px 0px 8px #27235E;
      }
    
      40% {
        box-shadow: 0px 0px 10px #27235E, 0px 0px 12px #27235E;
      }
    
      60% {
        box-shadow: 0px 0px 6px #27235E, 0px 0px 8px #27235E;
      }
    
      80% {
    
        box-shadow: 0px 0px 10px #27235E, 0px 0px 12px #27235E;
      }
      100% {
    
        box-shadow: 0px 0px 6px #27235E, 0px 0px 8px #27235E;
      }
  }
  .intro{
      text-align: justify;
  }
  .intro h1{
    margin-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 50px;
    opacity: 1;
    text-shadow: 0px 0px 8px white, 0px 0px 10px white;
    animation: glow 6s infinite ease-in-out;
    text-align: center;
  }

  .intro p{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-top: 5px;
    font-size: 20px;
    opacity: 1;
    text-shadow: 0px 0px 8px white, 0px 0px 10px white;
    animation: glow 6s infinite ease-in-out;
    margin-bottom: 10vh;
    text-align: center;
  }
  @keyframes glow {

    20% {
      text-shadow: 0px 0px 4px white, 0px 0px 6px black;
    }
  
    40% {
      text-shadow: 0px 0px 8px white, 0px 0px 10px black;
    }
  
    60% {
      text-shadow: 0px 0px 4px white, 0px 0px 6px black;
    }
  
    80% {
  
      text-shadow: 0px 0px 8px white, 0px 0px 10px black;
    }
    100% {
  
        text-shadow: 0px 0px 4px white, 0px 0px 6px black;
    }
  }
  
  
  .container {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 600px;
    margin: 1em;
    background-repeat: no-repeat;
    background-size:cover;
    overflow:hidden;
    animation: glowContainer 6s infinite ease-in-out;
    background-image: url('clearsky.jpg');
  }
  @keyframes glowContainer {
    20% {
        box-shadow: 0px 0px 2px white, 0px 0px 4px white;
      }
    
      40% {
        box-shadow: 0px 0px 6px white, 0px 0px 8px white;
      }
    
      60% {
        box-shadow: 0px 0px 2px white, 0px 0px 4px white;
      }
    
      80% {
    
        box-shadow: 0px 0px 6px white, 0px 0px 8px white;
      }
      100% {
    
        box-shadow: 0px 0px 2px white, 0px 0px 4px white;
      }
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    border: none;
    height: 35px;
    width: 50px;
    outline: none;
    background: #7c7c7c49;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  i{
      color: white;
      font-size: 20px;
  }
  input.search-bar {
    border: none;
    outline: none;
    padding-left: 20px;
    background: #7c7c7c2b;
    color: white;
    font-size: 105%;
    width: 400px;
    height: 35px;
  }
  

  button:hover {
    background: #7c7c7c6b;
  }
  
  .weather {

    margin-left: 50px;
    margin-top: 20px;

  }

  .temp {
    margin-top: 20px;
  }
  
  .icon-desc {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
 
  @media only screen and  (max-width:700px){
    
    .container{
       width: 340px;
       height: 350px;
    }
    nav{
        padding: 20px;
    }
    nav h1{
        font-size: 30px;
    }
    nav img{
        height: 30px;
        width: 30px;
    }
    .intro h1{
        font-size: 30px;
        margin-top: 60px;
        font-family: 'Courier New', Courier, monospace;
    }
    .intro p{
        margin-top: 5px;
        margin-bottom: 60px;
    }
    .weather {

        margin-left: 20px;
        margin-top: 35px;
    
    }
    input.search-bar {
        width: 220px;
    }
}
